{{- /* Head custom content area start */ -}}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author | default .Site.Title }}">
<link rel="canonical" href="{{ .RelPermalink }}">
<link rel="stylesheet" href="{{ "assets/css/style.css" | relURL }}">

{{- if .Site.Params.favicon }}
<link rel="icon" href="{{ "favicon.ico" | relURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | relURL }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | relURL }}">
<link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | relURL }}">
<link rel="mask-icon" href="{{ "safari-pinned-tab.svg" | relURL }}">
{{- end }}

<link rel="alternate" type="application/rss+xml" href="{{ "index.xml" | relURL }}">
<link rel="alternate" hreflang="{{ .Site.LanguageCode }}" href="{{ .RelPermalink }}">

{{- /* Head custom content area end */ -}} 